.devices {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/devices-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 0;
    margin-bottom: 40px;


    &__items {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        position: relative;
    }

    &__item {
        display: block;
        height: auto;
        max-width: 100%;
        @include breakpoint($mobile-bp){
            width: 450px;
        }

        &--iphone {
            position: absolute;
            right: 0;
            bottom: -80px;
            @include breakpoint($mobile-bp){
                max-width: 200px;
            }
        }
    }
}