.social {
    padding-top: 65px;

    &__list {
        grid-template-columns: 1fr 1fr minmax(270px, auto);
        grid-column-gap: 30px;
        @include breakpoint($tablet1-bp){
            grid-template-columns: repeat(2,1fr);
            grid-gap: 30px;
        }
        @include breakpoint($tablet2-bp){
            grid-template-columns: minmax(200px, 600px);
        }
    }

    &__item {
        background-color: #f38181;
    }

    &__subscribe{
        @include breakpoint($tablet1-bp){
            grid-column: 1/-1;
        }
    }
}

